.todo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
}

.todo-content {
    display: flex;
    gap: 0.5rem;
}

.todo-text {
    font-weight: 500;
    color: #333;
}

.todo-buttons {
    display: flex;
    gap: 0.5rem;
}

.todo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
    background-color: #eeeeee;
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
}